<%-  include('layout/header'); -%>

  <div class="container container-about">
    <div class="content ">
      <h2>Про нас</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque corporis sit ab, fugiat. Qui labore provident veniam temporibus dolore delectus doloremque, sint eum praesentium minima minus magni consequatur. Tenetur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque corporis sit ab, fugiat. Qui labore provident veniam temporibus dolore delectus doloremque, sint eum praesentium minima minus magni consequatur. Tenetur.</p>
      <h2>Сервіс</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque corporis sit ab, fugiat. Qui labore provident veniam temporibus dolore delectus doloremque, sint eum praesentium minima minus magni consequatur. Tenetur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque corporis sit ab, fugiat. Qui labore provident veniam temporibus dolore delectus doloremque, sint eum praesentium minima minus magni consequatur. Tenetur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque corporis sit ab, fugiat. Qui labore provident veniam temporibus dolore delectus doloremque, sint eum praesentium minima minus magni consequatur. Tenetur.</p>
    </div>
  </div>

<%-  include('layout/footer'); -%>
