<div class="sidebar">
  <div class="box box-user">
    <img src="/images/user.png" alt="user" class='user-image'>
    <h3><a href="/users/<%= user.login %>"><%= user.login %></a></h3>
  </div>

  <div class="box auth">
    <% if (!user.id && !user.login ) { %>

    <form method="post" class="login" onsubmit="return false;">
      <h2>Вход</h2>
      <div class="form-group">
        <label for="login-login">Логин</label>
        <input type="text" id="login-login" name="login" />
      </div>
      <div class="form-group">
        <label for="login-password">Пароль</label>
        <input type="password" id="login-password" name="password" />
      </div>
      <div class="buttons">
        <button id="test" class="switch-button secondary-inverse">Регистрация</button>
        <button class="login-button">Войти</button>
      </div>
    </form>

    <form method="post" class="register">
      <h2>Регистрация</h2>
      <div class="form-group">
        <label for="register-login">Логин</label>
        <input type="text" id="register-login" name="login" />
      </div>
      <div class="form-group">
        <label for="register-password">Пароль</label>
        <input type="password" id="register-password" name="password" />
      </div>
      <div class="form-group">
        <label for="register-password-confirm">Повтори пароль</label>
        <input type="password" id="register-password-confirm" name="passwordConfirm" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Вход</button>
        <button class="register-button">Регистрация</button>
      </div>
    </form>

    <% } else { %>
      <ul>
        <li>
          <a href="/users/<%= user.login %>">
            Мои посты
          </a>
        </li>
        <li>
          <a href="/post/add">Добавить пост</a>
        </li>
        <li>
          <a href="/api/auth/logout">Выход</a>
        </li>
      </ul>
    <% } %>  

  </div>
 
</div>